@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Medium.woff2') format('woff2'),
    url('/fonts/Matter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Regular.woff2') format('woff2'),
    url('/fonts/Matter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-primary {
  color: theme('colors.text-primary');
}
.text-secondary {
  color: theme('colors.text-secondary');
}

.gh-canvas {
  display: grid;
  grid-template-columns:
    [full-start]
    minmax(4vw, auto)
    [wide-start]
    minmax(auto, 240px)
    [main-start]
    min(920px, calc(100% - 6vw))
    [main-end]
    minmax(auto, 240px)
    [wide-end]
    minmax(4vw, auto)
    [full-end];
}

.gh-canvas > * {
  grid-column: main-start / main-end;
}

/* Content & Typography
/* ---------------------------------------------------------- */

.gh-content > * + * {
  margin-top: 4vmin;
}

.gh-content [id]:not(:first-child) {
  margin: 1.5em 0 0;
}

.gh-content > [id] + * {
  margin-top: 1.5rem;
}

.gh-content [id] + .kg-card,
.gh-content blockquote + .kg-card {
  margin-top: 6vmin;
}

.gh-content > blockquote,
.gh-content > ol,
.gh-content > ul,
.gh-content > dl,
.gh-content > p {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.6em;
}

.gh-content > h2 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6em;
}

.gh-content a {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6em;
  color: #4c1d95;
  @apply text-purple-500;
}

.gh-content > ul,
.gh-content > ol,
.gh-content > dl {
  padding-left: 1.8em;
}

.gh-content hr {
  margin-top: 6vmin;
}

.gh-content hr + * {
  margin-top: 6vmin !important;
}

.gh-content blockquote {
  position: relative;
  font-style: italic;
}

.gh-content blockquote::before {
  content: '';
  position: absolute;
  left: -1.5em;
  top: 0;
  bottom: 0;
  width: 0.3rem;
  background: var(--color-primary);
}

@media (max-width: 650px) {
  .gh-canvas blockquote,
  .gh-canvas ol,
  .gh-canvas ul,
  .gh-canvas dl,
  .gh-canvas p {
    font-size: 1.8rem;
  }

  .gh-content blockquote::before {
    left: -4vmin;
  }
}
