.container {
  padding: 0 2rem;
  padding-left: calc(100vw - 100%);
  @apply bg-white dark:bg-slate-800;
}
.main {
  min-height: vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
